# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# Streamlit cache
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Excel temporary files
~$*.xlsx